# Customize this file, and then rename it to config.rb

set :application, "app name"
set :deploy_via, :copy
set :check_revision, false
set :scm, :git

set :repository, File.expand_path("..")


# Using Git Submodules?
set :git_enable_submodules, 1

# This should be the same as :deploy_to in production.rb
set :production_deploy_to, '/html'

# The domain name used for your staging environment
set :staging_domain, 'staging.example.com'


set :multisite, false
set :theme, 'roots'

# Database
# Set the values for host, user, pass, and name for both production and staging.
set :wp do
  {
    :production => {
      :db => {
        :host     => 'db1166.mydbserver.com',
        :user     => 'p234541d1',
        :password => '',
        :name     => 'usr_p234541_1',
      },
      :wp => {
        :host     => '',
        :table_prefix   => 'castik_',
      }
    },
    :staging => {
      :db => {
        :host     => '',
        :user     => '',
        :password => '',
        :name     => '',
      },
      :wp => {
        :host     => '',
        :table_prefix   => '',
      }
    },
    :local => {
      :db => {
        :host     => '192.168.33.10',
        :user     => 'skeleton',
        :password => 'secret',
        :name     => 'skeleton',
      },
      :wp => {
        :host     => '',
        :table_prefix   => '',
      }
    }
  }
end
